.navBar{
    background-color:aquamarine;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:100px;
    width:100%;
    top:12px;
    right:9px;
    position:fixed;
    
}
.navTitle{
    margin-top:0px;
    text-align:left;
    margin-left:50px;
    float:left;
    margin:right;
    padding-right:105px;
}
.navbar div{
    display:inline-block;
}
.navLinks{
    color:rgb(46, 46, 46);
    text-decoration:none;
    display:inline-block;
    padding-top:10px;
    padding-right:50px;
    padding-left:50px;
    padding-bottom:10px;
    margin-right:40px;
    margin-top:6px;
    background-color:white;
    /*add background design to the button. also add some effects and stuff. */
}
.navLinks:hover{
    color:white;
    background-color:gray;
}

body {
	background: linear-gradient(-45deg, #617cc3, #2b3f86de, #06121675, #23d5ab);
	background-size: 400% 400%;
	animation: gradAni 5s ease infinite;
	height: 100vh;
}

@keyframes gradAni {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


